body{
    background: #040f7f;
}
h2{
    color: white;
    font-family: 'poppins',sans-serif;
    text-align: center;
}
#logueo, #guardar{
    background-color: black;
    color: white;
    border: 1px solid #4fb1ff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;/*Para cambiar el formato del cursor*/
    display: inline-block;
}
#logueo:hover, #guardar:hover{
    background-color: #97c8ff;
    color: black;
}
#contenedor{
    width: auto;
    text-align: center;
}
#foto{
    width: 50%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    background-image: url("playa.jpg");
    background-size: contain;/*se distribulla en el contenedor*/
    background-repeat: no-repeat;/*para no repetir foto*/
}